body{
background-image:url(https://image.freepik.com/free-vector/realistic-corona-virus-infection-bacteria-disease-cells-background-concept_41577-251.jpg);
no-repeat center center fixed;
background-size: cover;
}
.head{
width:34%;
margin: auto;
overflow: hidden;
margin-top:0%;
color:red;
font-family: 'Franklin Gothic Medium';
font-size:20px;
}
img{
width:35%;
border-radius:10%;
}
.container{
color:rgb(240, 255, 241);
font-size:25px;
font-style:italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.click{
font-size:30px;
font-style:inherit;
color:thistle;
font-family: fantasy;
}
.donate{
font-size:22px;
font-style:italic;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:goldenrod;
}
nav{
font-size:23px;
font-family: cursive;
}
li{
display:table-cell;
padding:1rem;
}
li a{
text-decoration: none;
font-weight: bold;
}
.active{
color:orange;
}
button{
width:10%;
padding: 1rem;
background-color:red;
border:none;
border-radius: 10px;
border-color: rgb(0, 0, 0);
}

    
